:root{
    --blanco: #ffffff;
    --osucro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    font-family: Krub, Helvetica, sans-serif;

}

html{
    /*Convercion para rem */
    font-size: 62.5%;
    font: Krub;
    /* Ajuste para modelo de caja */
    box-sizing: border-box;
}

*, *::before, *::after{
    /* Ajuste para modelo de caja */
    box-sizing: inherit;
}
 /*Tipografia Titulos*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

body{
    /* 16 px es e単 estandar para navegadores */
    font-size: 16px;
}

.titulo{

    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    /*  margin-top: 0;
        margint-right: auto;
        margin-bottom: 0;
        margin-left: auto,
    */
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal a{
    /*background-color: var(--blanco);*/
    /*Quirar subrayado*/
    text-decoration: none;
    padding: 1rem;
    color: var(--blanco);
}
.navegacion-principal{
    /*padding: 1rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content para filas y 
    align items para columndas*/
    /*justify-content: space-between;*/
    font-size: 2rem;
    font-weight: bold;
}

/* Si al menos tiene 768px (tablet) */
@media (min-width: 768px ) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--osucro);
}
.hero{
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    /*Cover cubre la imagen con todoel tama単o posible*/
    background-size: cover;
    height: 450px; /*Altura de la imagen hero*/
    position: relative; /* Sirve para maipular la posicion,
    El padre siempre debe ser relative */
}

.contenido-hero{
/* Sirve para maipular la posicion, 
El hijo siempre debe ser absoluto*/
    position: absolute;
    background-color: rgba(0,0,0,.7); /* Al 70%*/ 
    width: 100%;
    height: 100%;
    /* Alinear vertical y horizontalmente*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p, 
.contenido-hero h2{
    color: var(--blanco);
}

.ubicacion{
    display: flex;
    align-items: flex-end;
}

.boton{
    /*Color del fondo del boton*/
    background-color: var(--secundario);
    /*Color del texto*/
    color: var(--blanco);
    /*Espacio interior al boton, el primer valor es top-bottom 
    y el segundo es right-left */
    padding: 1rem 3rem;
    /* Poner margin solo arriba*/
    margin-top: 3rem;
    /*Tama単o de letra*/
    font-size: 2rem;
    /*Quitar subrayado*/
    text-decoration: none;
    /*Convertir en Mayuscula*/
    text-transform: uppercase;
    /*Texto en negritas*/
    font-weight: bold;
    /*Poner bordes redondeado*/
    border-radius: 1rem;
    /*Ancho del boton al 90% para dise単o movil*/
    width: 90%;
    /*Alinear texto del boton */
    text-align: center;
}

@media (min-width: 768px ) {
    .boton{
        width: auto;
    }
}